@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.row {
  justify-content: center; 
}

.col {
  display: flex;
  justify-content: center;
}

.card-teste {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 220px;
  height: 230px;
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.card-teste .img-box {
  position: absolute;
  top: 20px;
  width: 140px;
  height: auto;
  display: flex;
  justify-content: center;
}

.card-teste .img-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card-teste .content-teste {
  background: #5a20c0;
  color: #fff;
  padding: 14px;
  text-align: center;
  width: 100%;
  border-radius: 16px 16px 0 0;
  transition: 0.3s;
  margin-bottom: 15px;
}

.card-teste .content-teste h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
  color: #ffeb3b;
  font-family: 'Poppins', sans-serif;

}

.card-teste .content-teste p {
  font-size: 0.75rem;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;

}

.card-teste .content-teste {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  top: 250px;
  width: 100%;
  padding: 0px 30px;
  text-align: center;
  height: 30px;
  overflow: hidden;
  transition: 0.5s;
}

.card-teste:hover .content-teste {
  top: 130px;
  height: 250px;

}

.card-titulo {
  font-size: 18px;
  color: #ffeb3b;
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 35px;
}


.titulo-inicial {
  text-align: center;
  color: #5a20c0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.bem-vindo {
  color: #5a20c0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 10px 15px 15px 20px;
}

.paragrafo {
  color: gray;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 10px 15px 15px 20px;
  font-size: 19px;


}

.sombra-img {
  filter: drop-shadow(0 0 0.75rem #5a20c0);
}


.main {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.full-boxer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comment-box:hover {
  margin-top: 12px;
}

.comment-box {
  width: 500px;
  background: white;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
}

.Profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Name strong {
  color: #5a20c0;
  font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

.Name span {
  color: gray;
  margin-top: 2px;
}

.comment p {
  color: black;
    font-family: 'Poppins', sans-serif;

}

/* fim */

.custom-shape-divider-top-1758030568 {
  position: relative;
  top: 0;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1758030568 svg {
  display: block;
  width: 100vw;
  height: 174px;
}

.custom-shape-divider-top-1758030568 .shape-fill {
  fill: #5a20c0;
}

/* form */
.contact-form-container {
  max-width: 950px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 30px 35px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
}

.icon-form {
  margin-left: 35px;
  font-size: 30px;
  color: #5a20c0;
}

.contact-form-container .content-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form-container .content-form .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.contact-form-container .content-form .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.contact-form-container .content-form .left-side .details {
  margin: 14px 0;
  text-align: left;
}

.contact-form-container .content-form .left-side .details i {
  font-size: 24px;
  color: #5a20c0;
  margin-bottom: 10px;
}

.contact-form-container .content-form .left-side .details .topic {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #5a20c0;
}

.contact-form-container .content-form .left-side .details .text-one,
.contact-form-container .content-form .left-side .details .text-two {
  font-size: 14px;
  color: #5e5e5e;
  line-height: 1.4;
}

.contact-form-container .content-form .right-side {
  width: 70%;
  margin-left: 60px;
}

.contact-form-container .content-form .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #5a20c0;
  margin-bottom: 15px;
}

.contact-form-container .content-form .right-side p {
  margin-bottom: 25px;
  color: #5e5e5e;
  line-height: 1.5;
}

.contact-form-container .right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 15px 0;
}

.contact-form-container .right-side .input-box input,
.contact-form-container .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  font-family: inherit;
}

.contact-form-container .right-side .message-box {
  min-height: 110px;
  margin: 15px 0;
}

.contact-form-container .right-side .input-box textarea {
  padding-top: 15px;
}

.contact-form-container .right-side .button-form {
  display: inline-block !important;
  margin-top: 20px !important;
}

.contact-form-container .right-side .button-form input[type="submit"] {
  color: #fff !important;
  font-size: 18px !important;
  outline: none !important;
  border: none !important;
  padding: 12px 25px !important;
  border-radius: 6px !important;
  background: #5a20c0 !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
}

.contact-form-container .button-form input[type="submit"]:hover {
  background: #6332b8 !important;
}

@media (max-width: 950px) {
  .contact-form-container {
    width: 90%;
    padding: 30px 35px;
  }

  .contact-form-container .content-form .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .contact-form-container {
    margin: 40px 0;
    height: 100vh;
  }

  .contact-form-container .content-form {
    flex-direction: column-reverse;
  }

  .contact-form-container .content-form .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-form-container .content-form .left-side::before {
    display: none;
  }

  .contact-form-container .content-form .right-side {
    width: 100%;
    margin-left: 0;
  }

  .contact-form-container .content-form .left-side .details {
    margin: 10px 20px;
  }
}