.titulo-principal {
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #5a20c0;
    margin-bottom: 60px;
}


.caixa-cadastro {
    background-color: #bab9b94d !important;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    max-width: 500px;
}

.texto-label {
    font-weight: bold !important;
    color: #5a20c0 !important;
    font-size: 20px !important;
    font-family: 'Poppins', sans-serif;

}

.campo-input {
    border-radius: 20px !important;
    padding: 10px 15px !important;
    font-size: 1rem !important;
    font-family: 'Poppins', sans-serif;

}

.botao-cadastrar {
    background-color: #5a20c0 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 20px !important;
    padding: 10px 30px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    transition: 0.3s ease !important;
    font-family: 'Poppins', sans-serif;

}

.botao-cadastrar:hover {
    background-color: #5a20c0 !important;
    font-family: 'Poppins', sans-serif;

}