.card-games {
  margin: 10px;
  margin-bottom: 35px;
  background-color: rgb(231, 229, 229) !important;
  width: auto;
  height: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-games h1 {
  font-size: 30px;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #5a20c0 !important;
}

.card-games p {
  font-size: 17px;
  padding: 20px;
  text-align: center;
  color: #a5a2a2;
}

.card-games img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-games {
  font-size: 17px;
  padding: 10px 50px;
  border: none;
  color: aliceblue;
  background-color: #5a20c0 !important;
  border-radius: 45px;
  font-weight: 600;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}

/* Jogo da Memória */

.titulo-jogo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #5a20c0;
}

.jogo-memoria {
  margin-top: 30px;
  padding: 20px;
  background: #d7c3ff;
  border-radius: 10px;
  text-align: center;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
 width: auto;;
  margin: 20px auto;
}

.carta {
  height: 80px;
  position: relative;
  cursor: pointer;
}

.carta div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.8rem;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.frente {
  background: #5b20c0;
  z-index: 2;
}

.verso {
  background: #5b20c0;
  transform: rotateY(180deg);
}

/* Quando virada */
.carta.virada .frente {
  transform: rotateY(180deg);
}

.carta.virada .verso {
  transform: rotateY(0deg);
}

/* Quando encontrada */
.carta.encontrada .verso {
  background: #7835ec;
  transform: rotateY(0deg);
}

.carta.encontrada .frente {
  display: none;
}

.mensagem-sucesso {
  background: #b697f4;
  font-weight: bold;
  color: #5a20c0;
  width: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.botao-reiniciar {
  margin-left: 15px;
  background: #5a20c0;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}