.titulo {
    font-weight: bold;
    color: #fef600;
}

.card-1 {
    padding: 10px 15px 15px 20px;
    height: auto;
    box-shadow: inset 0 0 1em gold;
    border-radius: 15px;
}

.btn {
    color: aliceblue;
    text-decoration: none;

}

.btn:hover {
    text-decoration: none;
    color: aliceblue;

}

.titulo-2 {
    font-weight: bold;
    color: #2e8b57;
}

.card-2 {
    padding: 10px 15px 15px 20px;
    height: auto;
    box-shadow: inset 0 0 1em #2e8b57;
    border-radius: 15px;
}

.titulo-3 {
    font-weight: bold;
    color: #dc3131;
}

.card-3 {
    padding: 10px 15px 15px 20px;
    height: auto;
    box-shadow: inset 0 0 1em #dc3131;
    border-radius: 15px;
}

.titulo-4 {
    font-weight: bold;
    color: #009be2;
}

.card-4 {
    padding: 10px 15px 15px 20px;
    height: auto;
    box-shadow: inset 0 0 1em #009be2;
    border-radius: 15px;
}


.card-img-historia {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    width: 320px;
    height: 300px;
    overflow: hidden;
}

.img-historia {
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 100%;
    height: 100%;
    object-fit: cover;
}